.fullscreen {
  overflow: hidden; 

  #BodyContainer {
    width: 100%;
  }

  #ParshaContent {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
    background-color: #fff;
    padding: 50px;
    z-index: 100;

    .Co_Verse.active .co_VerseNum {
      opacity: .15;  
    }

    .Co_Verse, .Co_Rashi {
      display: flex;
      padding: 20px;
      
      transition: background-color .3s ease-in, opacity .2s ease-in;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    }

    .Co_Rashi {      
      /* Not sure how else to do this selector. It works! */
      color: #d9d9d9;
      transform: color .2s;
    }

    .Co_Verse.active + .Co_Rashi,
    .Co_Verse.active + .Co_Rashi + .Co_Rashi,
    .Co_Verse.active + .Co_Rashi + .Co_Rashi + .Co_Rashi,
    .Co_Verse.active + .Co_Rashi + .Co_Rashi + .Co_Rashi {
      /* Not sure how else to do this selector. It works! */
      border: 6px solid #FFECB3;
      border-top: 0;
      color: #000;
    }

    .Co_Rashi td,
    .Co_Rashi span {
      background-color: transparent;
      border-left: 0;
      border-right: 0;
    }

    .Co_Verse.active {
      background-color: #FFECB3;
    }

    .Co_Verse .co_VerseText {
      font-size: 25px;
      font-weight: 300;
      line-height: 1.2;
    }

    .Co_Verse:not(.active) {
      opacity: .15;
    }
  }

  #TorahReadingOptions_Wrapper {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    #TorahReadingOptions {
      &> div:first-child {
        vertical-align: middle;
        padding-left: 50px;
      }

      &> div:first-child > div {
        opacity: .4;

        &:first-child {
          opacity: 1;
          font-size: 20px;
        }
      }

    }
  }
}

#fullscreenBtn {
  vertical-align: middle;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #105689;
  transition: background-color .2s;
}
#fullscreenBtn:hover {
  cursor: pointer;
  background-color: #fff;
}